<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamique des Connaissances</title>
</head>
<body>
    <table border="1px">
        <tr>
            <th></th>
            <th>Cas source</th>
            <th>Pois</th>
            <th>Cas cible</th>
        </tr>
        <tbody>
          <tr>
            <th scope="row">Arrondissment</th>
            <td>{{similar.arrondissment}}</td>
            <td>Important</td>
            <td>{{test.arrondissment}}</td>
          </tr>
          <tr>
            <th scope="row">Superficie</th>
            <td>{{similar.superficie}}</td>  
            <td>d</td>  
            <td>{{test.superficie}}</td>  
          </tr>
          <tr>
            <th scope="row">Chambres</th>
            <td>{{similar.nbr_chambre}}</td>  
            <td>d</td>  
            <td>{{test.nbr_chambre}}</td>  
          </tr>
          <tr>
            <th scope="row">Piece</th>
            <td>{{similar.nbr_p}}</td>  
            <td>d</td>  
            <td>{{test.nbr_p}}</td>  
          </tr>
          <tr>
            <th scope="row">Etage</th>
            <td>{{similar.etage}}</td>  
            <td>d</td>  
            <td>{{test.etage}}</td>  
          </tr>
          <tr>
            <th scope="row">Standing</th>
            <td>{{similar.standing}}</td>  
            <td>d</td>  
            <td>{{test.standing}}</td>  
          </tr>
          <tr>
            <th scope="row" span=3></th>  
          </tr>
          <tr>
            <th scope="row">Prix</th>
            <td>{{similar.prix}}</td>  
            <td>d</td>  
            <td>{{price}}</td>  
          </tr>
        </tbody>
      </table>
</body> 

</html>