<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamique des Connaissances</title>
</head>
<body>
    <form action="/estimate" method = "POST">
        <p>Arrondissment <input type = "text" name = "Arrondissment" /></p>
        <p>Superficie <input type = "text" name = "Superficie" /></p>
        <p>Chambres <input type = "text" name = "Chambres" /></p>
        <p>Piece <input type = "text" name = "Piece" /></p>
        <p>Etage <input type = "text" name = "Etage" /></p>
        <p>Standing <input type = "text" name = "Standing" /></p>
        <p><input type = "submit" value = "Estimer" /></p>
    </form>
</body> 

</html>